@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown a {
    color: -webkit-link;
    cursor: pointer;
}

.markdown ol br{
    display: none;
}


.markdown ol {
    list-style: decimal;
    padding-left: 1em;
}